.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    overflow: hidden;
    position: relative;
    top: 21%;
    left: 30%;

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        // left: 0;
        margin: auto;
        // width: 100%;
        // opacity: 0;
        // transform: rotateZ(30deg);
        z-index: 1;
        animation: fadeInDown 2s 2s;
        animation-fill-mode: forwards;
    }
}

.svg-container {
    stroke: #ffd700;
    stroke-width: 10px;
}

@media screen and (max-width: 1200px) {
    .logo-container {
        // position: relative;
        // width: 80%;
        // height: 100%;
        // top: 50px;
        left: 0;
        box-sizing: border-box;
        margin: auto;
        // left: 0;
      }
}