.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tags {
    bottom: auto;
    top: 35px;
}

.tags {
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore';
}

.bottom-tag-html {
    margin-left: 20px;
}

.container-box-page {
    width: 100%;
    height: 90%;
    will-change: contents;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 0;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.about-page,
.skill-page,
.contact-page,
.work-page {
    .text-zone {
        position: absolute;
        left: 10%;
        transform: translateY(-50%);
        top: 50%;
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

        h1 {
            font-size: 53px;
            font-family: 'Coolvetica';
            color: #ffd700;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 10px;

            &::before {
                content: '<h1>';
                font-family: 'La Belle Aurore';
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: -10px;
                left: -10px;
                opacity: 0.6;
                line-height: 18px;
            }

            &::after {
                content: '</h1>';
                font-family: 'La Belle Aurore';
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-left: -20px;
                left: -30px;
                bottom: -20px;
                line-height: 18px;
                opacity: 0.6;
            }
        }

        p {
            font-size: 15px;
            font-family: sans-serif;
            font-weight: 300;
            color: #fff;
            min-width: fit-content;
            animation: pulse 1s;

            &:nth-of-type(1) {
                animation-delay: 1.1s;
            }

            &:nth-of-type(2) {
                animation-delay: 1.2s;
            }

            &:nth-of-type(3) {
                animation-delay: 1.3s;
            }
        }

        h2 {
            font-size: 20px;
            font-family: sans-serif;
            font-weight: 500;
            color: #ffd700;
            min-width: fit-content;
            animation: pulse 1s;

            &:nth-of-type(1) {
                animation-delay: 1.1s;
            }

            &:nth-of-type(2) {
                animation-delay: 1.2s;
            }

            &:nth-of-type(3) {
                animation-delay: 1.3s;
            }
        }

        // .work-page-width{
        //     width: 100%;
        // }

        .project-tags{
            display: flex;
            flex-wrap: wrap;
            max-width: 60%;
        }

        .tag {
            background-color: rgba(255, 0, 0, .489);
            border-radius: 4px;
            margin-bottom: 4px;
            margin-right: 6px;
            padding: 4px 8px;
            color: #fff;
            font-size: 15px;
        }
    }

    .text-animate-hover {
        &:hover {
            color: #fff;
        }
    }
}

@media screen and (max-width: 1200px) {
    .page {
      position: initial;
    }
  
    .container-box-page {
    //   position: initial;
    //   height: auto;
      overflow: auto;
      min-height: auto;
  
      &.contact-page,
      &.about-page,
      &.home-page,
      &.skill-page,
      &.work-page {
        .text-zone {
          position: initial;
          transform: none;
          width: 100%;
          display: block;
          padding: 20px;
          box-sizing: border-box;
        }
      }
  
      &.contact-page,
      &.about-page,
      &.home-page,
      &.skill-page,
      &.work-page {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
  
        h1.page-title {
          margin-left: 20px;
          margin-top: 20px;
        }
  
        .image-box {
          height: 200px;
          max-width: calc(50% - 10px);
        }
      }
    }
  
    .stage-cube-cont {
      position: initial;
      width: 100%;
      height: 0%;
      overflow: visible;
    }
  }